@import "functions.scss";

$color:rgb(127, 125, 215);

//----------media queries--------------

@media screen and (max-width:1380px) {
    .topbar__img{
        background: linear-gradient(#5a23f07e, #5e99d97b, #71e2b76c, $color max(200px)) local, center 50px no-repeat url("../../img/header.jpg") fixed;     
        background-size: 112vw;
    }

    .footer {
        top: 370px;
        }

}

@media screen and (max-width:996px) {

    .topbar{
        aspect-ratio: 1519/429;
    }

    .main{
        margin-top: 40px;
        width:65vw;
    }
    .sidebar{
        width:40vw;
        margin-top: 206px;
        &__nav{
            margin-left: 20px;
        }
    }

}

@media screen and (max-width:910px) {
    .topbar__img{
        background:linear-gradient(#5a23f07e,#5e99d97b, #71e2b76c,$color max(140px))local,
        center 10px no-repeat url("../../img/header.jpg") fixed;        
        background-size: 145vw;
    }

    .main {
        margin-top: 53px;
    }

    #song, #artist, #duo {
        top: -120px;
      }

    .sidebar__nav{
        padding: 25px 0;
    & a{
        font-size: 1.2rem;
        line-height: 1rem;
    }
}

}

@media screen and (max-width:675px) {

//html{
//    font-size: 14px;
//}
    .topbar__img{
        background:linear-gradient(#5a23f07e,#5e99d97b, #71e2b76c,$color max(125px))local,
        center 0px no-repeat url("../../img/header.jpg") fixed;         
        background-size: 150vw;
    
    }

    .sticky{
        width:25vw;
    }

    .sidebar__nav{
        padding: 5px 25px;
        margin-left: 0;
        line-height: 2rem;
        & a{
            font-size: 1.2rem;
        }
    }


.intro{
    padding-left:30px;
    padding-right:10px;

    &__img{
    width:100px;
    height: 66.71px;
    }
}
}

@media screen and (max-width:610px) {

//html{
    //font-size: 14px;
//}

h1{
    font-size:1.5rem;
}

.topbar{
    &__nav{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        padding:20px;
      
            &--links{
                margin-left: 0;
                margin-bottom: 10px;
            }
            &--social{
                width:rem(270);
            }
        }
    &__img{
        background:linear-gradient(#5a23f07e,#5e99d97b, #71e2b76c,$color max(135px))local,
        center 10px no-repeat url("../../img/header.jpg") fixed;         
        background-size: 150vw;
        top:65px;
        }
        
    }

    .container {
        margin-top: 50px;

    }

    .portrait_pc, .intro__img{
        display:none;
    }
    
    .mobile{
        display: flex;
        width: 100px;
        height: 103px;
        position: relative;
        top: 0px;
        left: 0px;
        margin: auto;
        &__img1{
            position: absolute;
            width: 100px;
            height: 103px;
            top: 0px;
            left: 0px;
            border-radius: 6px;
        }
        &__img2{
            position: absolute;
            width: 52px;
            height: 55px;
            top: 48px;
            left: 24px;
            border-radius: 5px;
        }
    }  


.intro{
    flex-direction: column;
    padding:10px;
    &__text{
    text-align: center;
    }
    &__imgpc{
        display: none;
    }
    &__date{
     padding-bottom:10px;
    }
}
.sidebar{
    margin-top:185px;
    &__nav{
    padding: 5px;
    margin-left: 5px;
    margin-top: 20px;
        & li{
        font-size: 1.2rem;
        }
    }
}

.sticky{
top: 100px;
width: 34vw;
margin: 0 auto;
}


#song, #artist, #duo{
position: relative;
top: -100px;
}

.footer {
top: 100px;
}
}

@media screen and (max-width:545px) {
    html{
        font-size: 14px;
    }

    .by_artist{
        &__box{
            height: fit-content;
            min-height:unset;
            max-width: 180px;
            & h3 {
                font-size: 1.2rem;
            }
            & p{
                padding-top: 6px;
                line-height: 1rem;
            }
        }
        &__title{
            align-items:baseline;
        }
        &__p{
            min-height:unset;
            font-size: 1.1rem;
            &:last-child{
                padding-bottom: 10px;
            }
        }
    }
    
    
    .twolines__title{
        margin-bottom: 0px;
    }

    .songs ul li {
        font-size: 1.1rem;
      }

    .duos{
        margin-top: 60px;
    }

    span {
        font-size: 1rem;
      }
}

@media screen and (max-width:475px) {



    .topbar__img{
        background: linear-gradient(#5a23f07e, #5e99d97b, #71e2b76c,$color max(100px)) local, center 50px no-repeat url("../../img/header.jpg") fixed;
        background-size: auto, auto;
        background-size: 146vw;
        aspect-ratio: 152/43;
        top: 90px;
    }

    .intro__text p{
        font-size: 1.2rem;
    }


.by_artist{
    &__box{
        height: fit-content;
        min-height:unset;
        width: 50vw;
        max-width: 190px;
        & h3 {
            font-size: 1.2rem;
        }
        & p{
            padding-top: 6px;
            line-height: 1rem;
        }
    }
    &__title{
        align-items:baseline;
    }
    &__p{
        min-height:unset;
        font-size: 1.1rem;
        &:last-child{
            padding-bottom: 10px;
        }
    }
}


.twolines__title{
    margin-bottom: 0px;
}

#song, #artist, #duo{
    position: relative;
    top: -100px;
}

.songs ul li {
    font-size: 1.1rem;
  }

span {
    font-size: 1rem;
  }

    .sidebar{
        margin-top:100px;
        &__nav{
        padding: 0px;
        padding-bottom:10px;
        margin-left: 0px;
        margin-top: 20px;
            & a{
            font-size: 1.3rem;
            }
            & li{
            padding: 0 8px;
            }
        }
    }

    .sticky{
        top: 100px;
        width: 34vw;
        margin: 0 auto;
    }

}

@media screen and (max-width:440px){
    .topbar__img{
        background: linear-gradient(#5a23f07e, #5e99d97b, #71e2b76c,$color max(90px)) local, center 50px no-repeat url("../../img/header.jpg") fixed;
        background-size: auto, auto;
        background-size: 146vw;
        aspect-ratio: 152/43;
        top: 90px;
    }
}

@media screen and (max-width:420px){
    //html{
    //    font-size: 12px;
    //}

    .topbar__img{
        background: linear-gradient(#5a23f07e, #5e99d97b, #71e2b76c,$color max(90px)) local, center 50px no-repeat url("../../img/header.jpg") fixed;
        background-size: auto, auto;
        background-size: 163vw;
        aspect-ratio: 152/43;
        top: 90px;
    }

    .portrait_pc, .intro__img{
        display:none;
    }
    
    .sidebar__nav li {
        padding: 0 8px;
      }

}

@media screen and (max-width:380px){
    .topbar__img{
        background: linear-gradient(#5a23f07e, #5e99d97b, #71e2b76c,$color max(90px)) local, center 50px no-repeat url("../../img/header.jpg") fixed;
        background-size: auto, auto;
        background-size: 175vw;
        aspect-ratio: 152/43;
        top: 90px;
    }
    .sidebar__nav li {
        padding: 0 4px;
        font-size: 1.1rem;;
      }



}


