@media screen and (max-width: 2048px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 200px) local, center 50px no-repeat url("../../img/header.jpg") fixed;
    background-size: 112vw;
  }
  .footer {
    top: 260px;
  }
}
@media screen and (max-width: 996px) {
  .topbar {
    aspect-ratio: 1519/429;
  }
  .main {
    margin-top: 40px;
    width: 65vw;
  }
  .sidebar {
    width: 40vw;
    margin-top: 206px;
  }
  .sidebar__nav {
    margin-left: 20px;
  }
}
@media screen and (max-width: 910px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 140px) local, center 10px no-repeat url("../../img/header.jpg") fixed;
    background-size: 145vw;
  }
  .main {
    margin-top: 53px;
  }
  #song, #artist, #duo {
    top: -120px;
  }
  .sidebar__nav {
    padding: 25px 0;
  }
  .sidebar__nav a {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}
@media screen and (max-width: 675px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 125px) local, center 0px no-repeat url("../../img/header.jpg") fixed;
    background-size: 150vw;
  }
  .sticky {
    width: 25vw;
  }
  .sidebar__nav {
    padding: 5px 25px;
    margin-left: 0;
    line-height: 2rem;
  }
  .sidebar__nav a {
    font-size: 1.2rem;
  }
  .intro {
    padding-left: 30px;
    padding-right: 10px;
  }
  .intro__img {
    width: 100px;
    height: 66.71px;
  }
}
@media screen and (max-width: 610px) {
  h1 {
    font-size: 1.5rem;
  }
  .topbar__nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .topbar__nav--links {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .topbar__nav--social {
    width: 16.875rem;
  }
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 135px) local, center 10px no-repeat url("../../img/header.jpg") fixed;
    background-size: 150vw;
    top: 65px;
  }
  .container {
    margin-top: 50px;
  }
  .portrait_pc, .intro__img {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100px;
    height: 103px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
  }
  .mobile__img1 {
    position: absolute;
    width: 100px;
    height: 103px;
    top: 0px;
    left: 0px;
    border-radius: 6px;
  }
  .mobile__img2 {
    position: absolute;
    width: 52px;
    height: 55px;
    top: 48px;
    left: 24px;
    border-radius: 5px;
  }
  .intro {
    flex-direction: column;
    padding: 10px;
  }
  .intro__text {
    text-align: center;
  }
  .intro__imgpc {
    display: none;
  }
  .intro__date {
    padding-bottom: 10px;
  }
  .sidebar {
    margin-top: 185px;
  }
  .sidebar__nav {
    padding: 5px;
    margin-left: 5px;
    margin-top: 20px;
  }
  .sidebar__nav li {
    font-size: 1.2rem;
  }
  .sticky {
    top: 100px;
    width: 34vw;
    margin: 0 auto;
  }
  #song, #artist, #duo {
    position: relative;
    top: -100px;
  }
  .footer {
    top: 100px;
  }
}
@media screen and (max-width: 545px) {
  html {
    font-size: 14px;
  }
  .by_artist__box {
    height: fit-content;
    min-height: unset;
    max-width: 180px;
  }
  .by_artist__box h3 {
    font-size: 1.2rem;
  }
  .by_artist__box p {
    padding-top: 6px;
    line-height: 1rem;
  }
  .by_artist__title {
    align-items: baseline;
  }
  .by_artist__p {
    min-height: unset;
    font-size: 1.1rem;
  }
  .by_artist__p:last-child {
    padding-bottom: 10px;
  }
  .twolines__title {
    margin-bottom: 0px;
  }
  .songs ul li {
    font-size: 1.1rem;
  }
  .duos {
    margin-top: 60px;
  }
  span {
    font-size: 1rem;
  }
}
@media screen and (max-width: 475px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 100px) local, center 50px no-repeat url("../../img/header.jpg") fixed;
    background-size: auto, auto;
    background-size: 146vw;
    aspect-ratio: 152/43;
    top: 90px;
  }
  .intro__text p {
    font-size: 1.2rem;
  }
  .by_artist__box {
    height: fit-content;
    min-height: unset;
    width: 50vw;
    max-width: 190px;
  }
  .by_artist__box h3 {
    font-size: 1.2rem;
  }
  .by_artist__box p {
    padding-top: 6px;
    line-height: 1rem;
  }
  .by_artist__title {
    align-items: baseline;
  }
  .by_artist__p {
    min-height: unset;
    font-size: 1.1rem;
  }
  .by_artist__p:last-child {
    padding-bottom: 10px;
  }
  .twolines__title {
    margin-bottom: 0px;
  }
  #song, #artist, #duo {
    position: relative;
    top: -100px;
  }
  .songs ul li {
    font-size: 1.1rem;
  }
  span {
    font-size: 1rem;
  }
  .sidebar {
    margin-top: 100px;
  }
  .sidebar__nav {
    padding: 0px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-top: 20px;
  }
  .sidebar__nav a {
    font-size: 1.3rem;
  }
  .sidebar__nav li {
    padding: 0 8px;
  }
  .sticky {
    top: 100px;
    width: 34vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 90px) local, center 50px no-repeat url("../../img/header.jpg") fixed;
    background-size: auto, auto;
    background-size: 146vw;
    aspect-ratio: 152/43;
    top: 90px;
  }
}
@media screen and (max-width: 420px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 90px) local, center 50px no-repeat url("../../img/header.jpg") fixed;
    background-size: auto, auto;
    background-size: 163vw;
    aspect-ratio: 152/43;
    top: 90px;
  }
  .portrait_pc, .intro__img {
    display: none;
  }
  .sidebar__nav li {
    padding: 0 8px;
  }
}
@media screen and (max-width: 380px) {
  .topbar__img {
    background: linear-gradient(rgba(90, 35, 240, 0.4941176471), rgba(94, 153, 217, 0.4823529412), rgba(113, 226, 183, 0.4235294118), rgb(127, 125, 215) 90px) local, center 50px no-repeat url("../../img/header.jpg") fixed;
    background-size: auto, auto;
    background-size: 175vw;
    aspect-ratio: 152/43;
    top: 90px;
  }
  .sidebar__nav li {
    padding: 0 4px;
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
